*[data-aiai='gallery'] {
    /*/
    outline: 1px dotted red;
    /**/

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

*[data-aiai='gallery'] > * {
    /*/
    outline: 1px dotted rgb(0, 255, 55);
    /**/

    width: 100%;
    aspect-ratio: 1;
}

*[data-aiai='gallery'] a {
    /*/
    outline: 1px dotted rgb(28, 80, 28);
    /**/

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: clip;
}

*[data-aiai='gallery'] a iframe {
    /*/
    outline: 1px dotted blue;
    /**/

    width: 200%;
    height: 200%;

    pointer-events: none;

    transform: scale(0.5);
}
