/* 📱 Computers */
.aiai-gallery {
    --on-row: 3;
    --aspect: 1 / 1.61;
    --scale: 4;
}

@media only screen and (max-width: 1200px) {
    /* 📱 Tablets */

    .aiai-gallery {
        --on-row: 3;
        --aspect: 1 / 1;
        --scale: 3;
    }
}
@media only screen and (max-width: 600px) {
    /* 📱 Big smartphones */

    .aiai-gallery {
        --on-row: 2;
        --aspect: 1 / 1;
        --scale: 3;
    }
}
@media only screen and (max-width: 425px) {
    /* 📱 Small smartphones */

    .aiai-gallery {
        --on-row: 1;
        --aspect: 1 / 1;
        --scale: 3;
    }
}

/*------------------------*/

.aiai-gallery-items {
    /*/
    outline: 1px dotted red;
    /**/

    width: calc(100% + 0px);
    margin: 0px;

    display: grid;
    grid-template-columns: repeat(var(--on-row), 1fr);
    grid-gap: 2px;
}

.aiai-gallery-items > * {
    /*/
    outline: 1px dotted rgb(0, 255, 55);
    /**/

    width: 100%;
    aspect-ratio: var(--aspect);

    transition: all 0.2s ease-in-out;
}

.aiai-gallery-items a {
    /*/
    outline: 1px dotted rgb(28, 80, 28);
    /**/

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: clip;

    background-color: #777;
}

.aiai-gallery-items a iframe {
    /*/
    outline: 1px dotted blue;
    /**/

    pointer-events: none;

    width: calc(100% * var(--scale));
    height: calc(100% * var(--scale));
    transform: scale(calc(1 / var(--scale)));
}
