*[data-aiai] {
    --aspect: 1 / 1.61;
    --scale: 5;
}

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
    /*Big smartphones [426px -> 600px]*/

    *[data-aiai] {
        --aspect: 1 / 1;
        --scale: 4;
    }
}
@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}

*[data-aiai='gallery'] {
    /*/
    outline: 1px dotted red;
    /**/

    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

*[data-aiai='gallery'] > * {
    /*/
    outline: 1px dotted rgb(0, 255, 55);
    /**/

    width: 100%;
    aspect-ratio: var(--aspect);
}

*[data-aiai='gallery'] a {
    /*/
    outline: 1px dotted rgb(28, 80, 28);
    /**/

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: clip;
}

*[data-aiai='gallery'] a iframe {
    /*/
    outline: 1px dotted blue;
    /**/

    pointer-events: none;

    width: calc(100% * var(--scale));
    height: calc(100% * var(--scale));
    transform: scale(calc(1 / var(--scale)));
}
